{
  "presets": [
    [
      "env",
      {
        "targets": {
          "uglify": true
        }
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "uglify": true
            },
            "modules": false
          }
        ]
      ]
    }
  }
}