{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "loose": false
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            },
            "modules": false,
            "loose": false
          }
        ]
      ]
    }
  }
}